<!DOCTYPE html>
<html>
<head>
<title>Phishing Awareness</title>
<style>
body{
font-family:Arial;
background:#0f172a;
color:white;
text-align:center;
padding:40px;
}

.container{
background:#1e293b;
width:700px;
margin:auto;
padding:30px;
border-radius:10px;
}

ul{
text-align:left;
}
</style>
</head>

<body>

<div class="container">

<h1>🔐 Phishing Awareness</h1>

<h2>What is Phishing?</h2>
<p>
Phishing is a cyber attack where attackers trick users into revealing
sensitive information such as passwords or bank details.
</p>

<h2>Common Signs of Phishing</h2>

<ul>
<li>Suspicious website URLs</li>
<li>Fake login pages</li>
<li>Urgent messages asking for personal information</li>
<li>Spelling mistakes in websites</li>
<li>Unknown email links</li>
</ul>

<h2>How to Stay Safe</h2>

<ul>
<li>Always check HTTPS in the URL</li>
<li>Verify the website domain</li>
<li>Do not click suspicious links</li>
<li>Enable two-factor authentication</li>
<li>Never share passwords or OTP</li>
</ul>

<a href="/">⬅ Back to Detection System</a>

</div>

</body>
</html>